<!--.main-wrap,#main End-->
<div class="tac">
<advertisement id='Site.Footer1' sys='1'/><br />
<advertisement id='Site.Footer2' sys='1'/>
</div>
<div class="footer_wrap">
	<div class="footer">
		<design role="segment" id="footer_segment"/>
		
		<p>Powered by <a href="http://www.diancanyo.com/" target="_blank" rel="nofollow">分享哟信息科技有限公司</a> &copy;2010-2103 所有权利保留</p>
	</div>
	<advertisement id='Site.FloatLeft' sys='1'/>
	<advertisement id='Site.FloatRight' sys='1'/>
	<advertisement id='Site.PopupNotice' sys='1'/>
	<div id="cloudwind_common_bottom"></div>
	<hook name="footer"/>
</div>

<!--返回顶部-->
<a href="#" rel="nofollow" role="button" id="back_top" tabindex="-1">返回顶部</a>
