<!DOCTYPE html>
<html>
<template source='EXT:4tschool.template.about.about_header' load="true"/>
<body>

<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">关于点餐哟平台</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#关于点餐哟">一、关于点餐哟</a></li>
				  <li><a class="link" href="#公益创业">二、公益创业</a></li>
				  <li><a class="link" href="#商家加盟">三、商家加盟</a></li>
				  <li><a class="link" href="#联系我们">四、联系我们</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>点餐哟大学生公益创业网络订餐平台是分享哟O2O平台的一部分,点餐哟网络订餐平台让身在高校及其周边的您足不出户享受到美食服务以及生活服务：
				</strong>
			</p>
<h1 id="关于分享哟">一、关于点餐哟</h1>
<p>点餐哟网络订餐平台由<a target="_blank" href="#">分享哟信息科技</a>打造的分享哟平台整合运营而成</p>
<h2>流程化统一的服务模式</h2>
<p>点餐哟网络订餐平台整合了商家与老师学生，用手机，互联网将餐厅与终端用户有机的结合起来; 将传动服务性行业响应慢,状态更新不及时，服务不好管理的问题通过点餐哟网络订餐平台团队制定的统一化的服务管理来解决&nbsp;<font color="#000000"><span style="font-family:华文细黑;font-size:12pt;"><span>&nbsp;</span></span></font></p>
<h1 id="诚聘英才">二、公益创业</h1>
<p><a target="_blank" href="index.php?m=app&app=4tschool">点餐哟网络订餐平台订餐服务团队</a>是由一群追求更好的服务的人组成的，旨在为用户提供更好的服务体验，真正是为用户着想，以质量，时间，安全，分享为理念将服务做到极致。
在大学里有这么一群大学生, 他们有很强的实践能力, 但是他们缺少技术缺少服务器维护的能力。点餐哟无偿提供平台与技术, 对于有兴趣研究源代码的同学, 可以考虑加入维护并持续开发的行列。
<h2>成为公益创业成员的条件</h2>
<p><color style="color:red"></color></p><br/>
	1. 在校大学生<br/>
	2. 毕业后若不再经营承诺不收取任何费用转交大学运营权<br/>
	3. 有很强的时间观念以及营销能力<br/>
	4. 愿意将自己的知识与经验分享给其余学校的朋友<br/>
</p>
<h1 id="商家入驻">三、商家入驻点餐哟网络订餐平台(免费)</h1>
<p>点餐哟<a title="" target="_self" href="index.php?m=app&app=4tschool">网络订餐平台</a>为商家提供了网上曝光度, 让更多的人知道商家, 让商家更方便的找到要兼职的同学, 通过线上销售获取更多的利润，让商家能够低成本的去宣传并获得更多的客户并管理到自己的客户，通过分享哟网上订餐服务平台, 商家可以从容的管理库存，采购，从而保证餐品的高质量，通过获得更多的口碑，达到业务的前进。
<br/>
<h2>加入点餐哟网络订餐平台，商家需要联系(请找校区运营人员联系):</h2>
1. 营运人身份证复印件<br/>
2. 菜单列表以及价格<br/>
3. 特色菜品的图片<br/>
4. 优惠信息的持续更新<br/>

</p>
<h1 id="联系我们">四、联系方式</h1>
<p>如果您需要联系<a target="_blank" href="index.php?m=app&app=4tschool">点餐哟网络订餐平台</a>, 请参照以下服务电话</p>


<h2>资助</h2>
<p>点餐哟是一个公益的创业平台,点餐哟不会收取任何校区运营人员的费用, 同时点餐哟鼓励所有的人都能够贡献自己的商业技能, 营销技能以及代码能力帮助大学生
外卖平台公益创业做的更好。
<br/>
联系人：杨先生<br/>
邮箱: 	81552433@qq.com<br/>
电话: 	15270011972
</p>

</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	<template source='EXT:4tschool.template.about.about_menu' load="true"/>
	

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
	<template source='EXT:4tschool.template.about.about_footer' load="true"/>
<!-- footer end -->

</body></html>