<!DOCTYPE html>
<html>
<template source='EXT:4tschool.template.about.about_header' load="true"/>
<body>


<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">点餐哟校园订餐平台订单服务说明</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#提前订餐">一、提前订餐</a></li>
				  <li><a class="link" href="#送餐时间">二、送餐时间</a></li>
				  <li><a class="link" href="#投诉建议">三、投诉建议</a></li>
				  <li><a class="link" href="#除了餐品?">四、除了餐品?</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>
					点餐哟订餐服务平台帮助各个高校的创业者们解决订餐环节以及管理环节的不确定性, 从而能够让订餐更够更加智能化一些
				</strong>
			</p>
<h1 id="提前订餐">一、提前订餐</h1>
<p>

	点餐哟网络订餐平台鼓励同学们在11:00 左右在上课的时候,宿舍里面就可以下单, 因为考虑到高校吃饭的时间集中性，在11：50- 12：50这段午餐时间里，有大量的同学在学校在您钟爱的商家里吃饭，在集中的时间内，由于商家人手与控制质量的问题，他们很难再集中的时间里提供到您相对平时清闲时更优质的服务。因此点餐哟网络订餐平台强烈建议您错开订餐时间，例如您可以在11：00订餐，我们会在12：00准时或更早（如果您有特别的时间要求)送到您的住所。


<h1 id="送餐时间">送餐时间</h1>
<p>
	商家在制作餐品的时候有很多影响因素, 例如店内顾客的数量, 因为外卖的数量, 因此商家的送餐速度是一个很脆弱的一个环节, 这也是点餐哟建议各个高校的创业者能够打造自己的配送团队, 这样的话不但入住的商家多, 并且学生可选择的范围也大
</p>

<h1 id="投诉建议">三、投诉建议</h1>
<p>除了能够给商家留言之外, 点餐哟也会公布各个校区的公益创业的团队资料, 一切都以公开公正为主要原则, 有很多同学想过那么商家不爱搭理怎么办, 其实你的评论就是对其它人最好的帮助。
<br/>
</p>
</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='EXT:4tschool.template.about.about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
<template source='EXT:4tschool.template.about.about_footer' load="true"/>
<!-- footer end -->




</body></html>