<!DOCTYPE html>
<html>
<template source='EXT:4tschool.template.about.about_header' load="true"/>
<body>


<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">吃饭与兼职</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#啥餐可点">一、啥餐可点</a></li>
				  <li><a class="link" href="#兼职可做">二、兼职可做</a></li>
				  <li><a class="link" href="#免费餐品">三、免费餐品</a></li>
				  <li><a class="link" href="#美食群组">四、美食群组</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>点餐哟网络订餐平台着力于公益网络订餐，你想吃啥，啥候选，我们各个高校公益创业的同学们尽力在点餐哟网络订餐平台给你聚合一起方.
				</strong>
			</p>
<h1 id="啥餐可点">一、啥餐可点</h1>
<p>点餐哟网络订餐餐品菜单是各个高校公益创业的朋友们自主搜集来的信息,来源于学校附近的商家, 是你自己出去吃饭走路15分钟之内能够走到的地方。</p>
<h2>餐品种类</h2>
<p>
	点餐哟将学校附近的商家信息进行了分类整理，炒菜，快餐，早餐; 辣，不辣;面食,小吃;我们已经为您进行了整理, 您可以在上面进行筛选，进行价格对比, 查看口碑，沟通起送金额, 然后打电话给商家下单; 对于合作的支持在线下单的商家，您还可以在网站与手机客户端直接下单噢。
</p>

<h1 id="兼职可做">二、啥公益项目可以做</h1>
<p>大学生活丰富多彩, 但真正说起要创业, 没有几个人清楚该怎么进行, 点餐哟帮助你分析商业模式, 管理方式, 运营细节, 同时告诉您, 这全部都是公益型的。<br/>
<ul>
	<li></li>
</ul>
</p>

<h1 id="免费餐品">三、免费餐品</h1>
<p>
	点餐哟网络订餐平台提供了很多机会让您获得免费餐品，目的就是为了满足您这个吃货的胃口; 基于每个高校的创业者的行动轨迹不同, 点餐哟鼓励这些创业者们能够让商家提供一些免费餐品的机会.
</p>
<h1 id="美食群组">四、美食群组</h1>
<p>点餐哟网络点餐美食群组聚合了一群对美食有好感的吃货们, 在满足于吃饱时，有更多的诉求，例如好吃，服务态度要好，环境要好, 点餐哟平台让他们聚集起来聊美食, 交朋友, 共同组织活动</p>

</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='EXT:4tschool.template.about.about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
	<template source='EXT:4tschool.template.about.about_footer' load="true"/>
<!-- footer end -->




</body></html>