<!DOCTYPE html>
<html>
<template source='EXT:4tschool.template.about.about_header' load="true"/>
<body>

<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">点餐哟网络点餐平台服务说明</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#订餐流程">一、订餐流程</a></li>
				  <li><a class="link" href="#注册方法">二、注册方法</a></li>
				  <li><a class="link" href="#预定美味">三、预定美味</a></li>
				  <li><a class="link" href="#查询催单">四、查询催单</a></li>
				  <li><a class="link" href="#取消订单">五、取消订单</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>
					在点餐哟网络点餐平台，您只需要几个简单的步骤就能订到符合您口味与心意的餐品，足不出户，在电脑鼠标一点或者手机轻松一点，商家就会根据您的需求将餐品送到您身边。
				</strong>
			</p>
<h1 id="订餐流程">一、订餐流程</h1>
<p>
	相信您有大型网站购物经验，那么点餐哟的点餐流程就是一个很简单的步骤了，如下图所示, 登录，选择您心爱的商品，然后打电话给商家(某些商家支持在线下单,下单后商家会自动得到通知并制作)<br/>
	<img src="themes/extres/4tschool/images/orderprocess.png" title="订餐流程"></img>

</p>

<h1 id="注册方法">二、注册方法</h1>
<p>点餐哟订餐平台为了保证最大程度的服务于您，我们不限制您的注册方式，您可以选择进行QQ登录, 或者选择了以手机号码为主的订餐方式; 通过对手机号码的识别，我们的服务团队变得更懂您，更加珍惜为您服务的时间与质量，以此来让您享受到最好的服务。另外，移动互联网让大家更加快捷方便的浏览并购买钟爱的商品，而手机号码是移动手机的一部分，选择手机号码进行注册，您可以更加便捷的使用分享哟平台提供的服务。
</p>


<h1 id="预定美味">三、预定美味</h1>
<p>
	点餐哟网络点餐平台和高校商家为同学和老师们提供了丰富的订餐选择，从日常吃的主食，到零食，饮料，分享哟平台的同学们和老师可以根据自己的喜好，选择自己喜欢的商品，并放入购物车。

	相信网上订餐的用户都有在京东，当当等买商品的经验，点餐哟网上订餐平台的购物流程与之没有区别，大家可以根据画面上的引导一步步的完成购物
</p>

</p>

</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='EXT:4tschool.template.about.about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
<template source='EXT:4tschool.template.about.about_footer' load="true"/>
<!-- footer end -->




</body></html>