<!doctype html>
<html>
<head>
    <template source='header' load="true"/>
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/jcart.css" type="text/css" media="screen">
    <link href="{@G:url.extres}/4tschool/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
   
    <script type="text/javascript" src="{@G:url.extres}/4tschool/js/jcart.js"></script>
    <style>
    	td{
    		border-left: 1px solid #eadbc9;
    		border-bottom: 1px solid #eadbc9;
			border-right: 1px solid #eadbc9;
			width: 200px;
    	}
    </style>
</head>
<body>
<div class="clear"></div>
<div class="wrap-sd">
<div class="sdrow">
<div id="wrapper" class="twelvecol">
<div class="step-content" style="margin-left:150px;padding:10px;">
    
    <h3>
        {$schoolAnnounceInfo['subject']}
    </h3>        

    <div class="clear"></div>
    <div class="spacer"></div>
    <div class="merch_bord">
    <table class="tabl_merch merch_title">
    	<tbody>
            <tr>
                <td>
                    <div>
                        欢迎来到分享哟-美食周报平台。
                    </div>
                </td>
            </tr>
    	</tbody>
    <table>
    <table class="tabl_merch">
    	<tbody>
    	
    	</tbody>
    </table>
</div>

</div>
</div>

</div>
</div>
<div class="clear"></div>
<template source='footer'/>
<script type="text/javascript" src="{@G:url.extres}/4tschool/js/jquery-ui-1.10.3.custom.js"></script>

</body>
</html>