<!doctype html>
<html>
	<head>
	<template source='TPL:admin.common.head' />
</head>
<body>
	<div class="wrap">
		<div class="nav">
			<ul class="cc">
				<li><a href="{@url:app/4tschool/index/run}">导航</a></li>
				<li><a href="{@url:app/4tschool/myorder/run}">我的订单</a></li>
				<li class="current"><a href="{@url:app/4tschool/head/run}">搜索</a></li>
			</ul>
		</div>
		<div class="h_a">搜索</div>
		<div class="">
			<form class="J_ajaxForm" action="{@url:app/4tschool/head/run}" method="post">
				<input type='hidden' name='type' value="do">
				<table width="50%">
					<tr>
						<td><input name="keyword" type="text" class="input length_4 mr10"></td>
						<td><button type="submit" class="btn btn_submit">搜索</button></td>
					</tr>
					<tr>
						<td>
							<ul class="switch_list cc">
								<li><label><input type="radio" name="searchtype" value="M"><span>搜美食</span></label></li>
								<li><label><input type="radio" name="searchtype" value="S"><span>搜店铺</span></label></li>
							</ul>
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>

		<page tpl='TPL:common.page' page='$page' count='$count' per='$perPage' url='u/manage/run' args='$args'/>
	</div>
<template source='TPL:admin.common.footer' />
</body>
</html>