<!doctype html>
<html>
<head>
    <template source='header' load="true"/>
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/jcart.css" type="text/css" media="screen">
    <link href="{@G:url.extres}/4tschool/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
   
    <script type="text/javascript" src="{@G:url.extres}/4tschool/js/jcart.js"></script>
</head>
<body>
<div class="clear"></div>
<div class="wrap-sd">
<div class="sdrow">
<div id="wrapper" class="twelvecol">

<div class="step-content" style="margin-left:300px;padding:40px;">
    <div class="clear"></div>
    <h3>
        亲, 该学校正在录入数据, 请联系客服。
    </h3>
    <div class="clear"></div>
</div>
</div>
</div>
</div>
<div class="clear"></div>
<template source='footer'/>
<script type="text/javascript" src="{@G:url.extres}/4tschool/js/jquery-ui-1.10.3.custom.js"></script>

</body>
</html>