<!doctype html>
<html>
<head>
    <template source='header' load="true"/>
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/jcart.css" type="text/css" media="screen">
    <link href="{@G:url.extres}/4tschool/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
   
    <script type="text/javascript" src="{@G:url.extres}/4tschool/js/jcart.js"></script>
    <style>
    	td{
    		border-left: 1px solid #eadbc9;
    		border-bottom: 1px solid #eadbc9;
			border-right: 1px solid #eadbc9;
			width: 200px;
    	}
    </style>
</head>
<body>
<div class="clear"></div>
<div class="wrap-sd">
<div class="sdrow">
<div id="wrapper" class="twelvecol">

<div class="step-content" style="margin-left:130px;padding:10px;">
    <h3>
        亲,您访问的功能还没有开放噢。
    </h3>
</div>

</div>
</div>
<div class="clear"></div>
<template source='footer'/>
<script type="text/javascript" src="{@G:url.extres}/4tschool/js/jquery-ui-1.10.3.custom.js"></script>

</body>
</html>