<!DOCTYPE html>
<template source='header' load="true" />
<div class="clear"></div>
<div class="wrapper">
	<template source='left_bar' load="false" />

	<div class="centersidebar" id="orderList">
	<div class="myddorder_tab"><a class="current"><span>{$subtitle}</span></a>
		<span style="color:red">查看每个人分配的订单</span>
		<div class="clear"></div>
	</div>
	<form action="{@url:app/4tschool/schoolorder/run}" id="schoolordersForm" method="post">
	<input type="hidden" class="pageurl" name="pageurl" value="{@url:app/4tschool/schoolorder/responsibles}">
	<input type="hidden" class="updateResponsibleUrl" name="updateResponsibleUrl" value="{@url:app/4tschool/schoolorder/updateOrderResponsible}">
	<div class="myddorder_search clearfix">
		<div class="time_box">
			<select id="o_area" style="z-index:0;display:none" class="carea" name="carea">
				<option <?php if(0 == $carea) echo "selected"; ?>  value='0'>所有区域</option>
			<!--#foreach($areaList as $key => $value) {#-->
				<option 
					<?php if($value['id'] == $carea) echo "selected"; ?> value="{$value['id']}" >{$value['areaname']}
				</option>
			<!--#}#-->
			</select>

			<select id="cresponsible" style="z-index:0;" class="cresponsible" name="cresponsible">
				<option <?php if(0 == $cresponsibleid) echo "selected"; ?>  value='0'>所有负责人</option>
				<option <?php if(-10 == $cresponsibleid) echo "selected"; ?>  value='-10'>未分配</option>
			<!--#foreach($deliveryppls as $key => $value) {#-->
				<option 
					<?php if($value['userid'] == $cresponsibleid) echo "selected"; ?> value="{$value['userid']}" >{$value['username']}
				</option>
			<!--#}#-->
			</select>

			<select id="o_time" style="z-index:0;" class="choosenDaterange" name="choosenDaterange">
				<!--#foreach($orderRange as $key => $value) {#-->
				<option 
					<?php if($key == $choosenDaterangeid) echo "selected"; ?> value="{$key}" >{$value}
				</option>
				<!--#}#-->
			</select>

			<select id="o_status" style="z-index:0;" class="choosenStatusCategory" name="choosenStatusCategory">
				<!--#foreach($orderStatusCategory as $key => $value) {#-->
				<option 
					<?php if($key == $choosenStatusCategoryid) echo "selected"; ?> value="{$key}" >{$value}
				</option>
			<!--#}#-->
			</select>
		</div>
	</div>
	
	<div class="clear"></div>

	<div class="assignDelivery form-actions" style="display:none">
		<span>请选择分配人: </span>
		<select id="o_pplinarea" style="z-index:0;" class="pplinarea" name="pplinarea">
			<option value=0 <?php if(0 == $value['userid']) echo "selected"; ?>> 请选择配送人</option>
			<!--#foreach($deliveryppls as $key => $value) {#-->
			<option 
						<?php if($value['userid'] == $pplinareaid) echo "selected"; ?> value="{$value['userid']}" >{$value['username']}
			</option>
			<!--#}#-->
		</select>
		<span class="bootstrap">
			<button type="button" class="btn btn-primary btn-assign">分配配送负责人</button>
		</span>
		<span class="bootstrap">
		<button type="button" class="btn btn-warning btn-cancel">取消订单</button></span>
	</div>

	<template source='orderlist' load="true" />
	<page tpl='TPL:common.page' load="true" page='$page' count='$count' per='$perPage' url='app/4tschool/schoolorder/responsibles' args='$args' />
	<div class="spacer"></div>
</form>
</div>
</div>
<div class="clear"></div>
<template source='footer' />
<script>
Wind.use('jquery', 'global', 'ajaxForm', 'dialog', function(){

	$(".cresponsible").change(function(event)
	{
		searchPage();
	});

	//focus to clear
	$("#searchKey").focus(function(event)
	{
		$(this).val('');
	});

	//change date range
	$(".choosenDaterange").change(function(event){
		searchPage();
	});

	//change status of order
	$(".choosenStatusCategory").change(function(event){
		searchPage();
	});

	//input and search
	$(".btn_search").click(function(event)
	{
		event.preventDefault();
		searchPage();
	});

	//school area chane
	$(".carea").change(function(event)
	{
		searchPage();
	});


	//school area chane
	$(".cassignstatus").change(function(event)
	{
		searchPage();
	});

	//post data and search
	function searchPage()
	{
		var choosenDateRange = $(".choosenDaterange").val();
		var choosenStatusCategory = $(".choosenStatusCategory").val();
		var searchTxt = $('#searchKey').val();
		var schoolArea = $(".carea").val();
		var cassignstatus = $(".cassignstatus").val();
		var cresponsible = $(".cresponsible").val();

		var dateRangeUrl = "&choosenDaterange=" + choosenDateRange;
		var statusCategoryRangeUrl = "&choosenStatusCategory=" + choosenStatusCategory;
		var searchUrl = "";
		var areaUrl = "&carea=" + schoolArea;
		var assignStatusUrl = "&cassignstatus=" + cassignstatus;
		var cresponsibleUrl = "&cresponsible=" + cresponsible;

		window.location.href = $(".pageurl").val() + dateRangeUrl + statusCategoryRangeUrl + searchUrl + areaUrl + assignStatusUrl + cresponsibleUrl; 
	}

});
</script>