<!doctype html>
<html>
	<head>
	<template source='TPL:admin.common.head' />
</head>	
<template source='header' load="true" />
<link rel="stylesheet" href="{@G:url.extres}/4tschool/css/jquery-ui.css">
<style style="text/css">
</style>
<div class="clear"></div>
<div class="wrapper line new_box new_bg">
    <template source='left_bar' load="false" />
    <div class="centersidebar" id="orderList">
        <input type="hidden" class="pageurl" name="pageurl" value="{@url:app/4tschool/shoplist/shopmanageadd?schoolid=$schoolId}">
        <div class="nav">
            <div class="return"><a href="{@url:app/4tschool/shoplist/shopmanage?schoolid=$schoolId}">返回上一级</a></div>
        </div>
        <div class="h_a">提示信息</div>
        <div class="mb10 prompt_text">
            <ol>
                <li>图片格式为(gif, jpg, jpeg, png, bmp, swf)</li>
                <li>图片大小为小于1M, 966x500</li>
            </ol>
        </div>
        &nbsp;&nbsp;当前为 <a href="{@url:app/4tschool/shopdetails/run?schoolid=$schoolId&shopid=$shopId}"><font color="red"><!--# echo $shopName #--></font></a> 上传图片
        <div class="pop_cont pop_table">	
		<form class="J_ajaxForm" data-role="list" action="{@url:app/4tschool/shoplist/shopmanageupload?id=$shopId&schoolid=$schoolId}" method="post" enctype="multipart/form-data" >
			<input type='hidden' name='type' value="do">
			<input type='hidden' name='shopid' value="{$shopId}">
			<input type='hidden' name='imageurl' value="{$imageUrl}">
			<input type='hidden' name='merchandiseid' value="{$merchandiseId}">
			<div class="">
				<input class="J_upload_preview" name="uploadimg" type="file">
				<!--<input id="J_swfupload_btn" name="imgfile" type="file">-->
			</div>
			<div class="pop_bottom">
				<button type="submit" class="btn btn_submit fr J_ajax_submit_btn">保存</button>
			</div>

		</form>
	</div>
</div>
<div class="clear"></div>
<template source='footer' />
<template source='TPL:admin.common.footer' />
</body>
</html>