<div id="footer">
	<div class="footer">
		<div class="about">
			<span class="copyright">Copyright © 2010-2013 diancanyo.com 版权所有</span>
			<span class="links">
				<a href="index.php?m=app&app=4tschool&c=about&a=law#法律声明" target="_blank">版权说明</a>
				<span class="sep">|</span>
				<a href="http://www.phpwind.net" target="_blank">PW官网</a>
				<a href="http://www.jd.com" target="_blank">京东</a>
				<span class="sep">|</span>
				<a href="http://www.taobao.com/" target="_blank">淘宝网</a>
				<a href="http://www.tmall.com/" target="_blank">天猫</a>
				<a href="http://www.etao.com/" target="_blank">一淘网</a>
				<a href="http://www.dangdang.com/" target="_blank">当当网</a>
				<span class="sep">|</span>
				<a href="http://www.alipay.com/" target="_blank">支付宝</a>
			</span>
		</div>
	</div>
</div>