<!DOCTYPE html>
<html>
<template source='about/about_header' load="true"/>
<body>


<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">积分与零钱</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#积分计算规则">一、积分计算规则</a></li>
				  <li><a class="link" href="#什么是零钱包">二、什么是零钱包</a></li>
				  <li><a class="link" href="#积分可以兑换什么礼品">三、积分可以兑换什么礼品</a></li>
				  <li><a class="link" href="#信息安全吗">四、信息安全吗</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>您在分享哟平台的每一个积分都非常值得珍惜，我们安全的保管您的积分，特别是零钱包，当您没有零钱的时候，零钱包可以帮您的钱储存，省去您带零钱的烦恼：
				</strong>
			</p>
<h1 id="积分计算规则">一、积分计算规则</h1>
<p>分享哟积分是由<a target="_blank" href="http://www.softwaretailor.cn/">分享哟信息科技</a>为分享哟订餐用户打造的积分管理</p>
<h2>积分来源</h2>
<p>
	分享哟订餐的积分的产生与用户的消费息息相关，当您消费后，系统会根据积分规则会产生相应的积分，积分值=消费额 * 1.5；当您通过分享哟分享了您的订餐后，同样您会获得相应的积分，在不同的阶段，分享哟服务团队会进行一定的促销，您因此请密切关注来获得相应的积分。
</p>

<h1 id="什么是零钱包">二、什么是零钱包</h1>
<p>分享哟零钱包<a target="_blank" href="index.php?m=app&app=4tschool">分享哟服务团队</a>方便订餐的人付钱以及管理自己订餐后剩下的零钱。

很多时候我们点一份水果，点一份快餐，然后再顺带一瓶可乐，在订单结算时，发现需要8.5元，但是自己身上只有100元, 送餐员以及下订单的您都非常不方便,因此分享哟零钱包营运而生，您可以选择把剩下的钱都放在分享哟零钱包中，或者您可以选择找零90元，并留下1.5元到分享哟的零钱包。请放心你的零钱包的钱是安全的，但我们建议您一般保持零钱包的起钱在100元以下
</p>

<h1 id="积分可以兑换什么礼品">三、积分可以兑换什么礼品</h1>
<p>积分是您消费的积累，分享哟订餐平台提供了积分可兑换的渠道。在
	<a href="index.php?m=app&c=integralexchange&app=4tschool" title="分享哟订餐平台的积分商场里面">分享哟订餐平台的积分商城</a>里面，您可以挑选最您最实用的商品。当您在分享哟积分商城里找到想要的商品后，您有如下选择以下方式进行兑换
<br/>
<h2>兑换方式:</h2>
方式一. 对您的送餐你提出您要兑换的商品，由送餐人联系服务中心然后由送餐人送达到您的手上<br/>
方式二. 直接联系服务中心，需要提供您的一些个人资料以进行核对，然后和您手机进行确认，确实无误后，有专人会将礼品送达到你的手上<br/>
3. 直接到服务中心去，会有专人接待您并配送礼品给您<br/>

<strong style="color:red">请注意: 兑换礼品后积分会进行相应的扣除; 有些礼品可能库存不够，在登记后，我们会尽快进货并配送给您。</strong>

</p>
<h1 id="信息安全吗">四、信息安全吗</h1>
<p>分享哟订餐服务平台用户8+的软件与信息安全方面的经验，无论是从系统外部层面抑或是公司员工层面，我们都将将您的信息安全，隐私当成首位进行能够对待</p>


<h2>信息安全规范</h2>
<p>
	<ul>
		<li>员工与公司签订客户信息保密协议，确保从公司内部以法律来规范和约束分享哟平台的员工遵纪守法并不会对外泄露客户信息</li>
		<li>分享哟订餐平台与将客户密码加密，系统外部不能枚举出设置密码</li>
		<li>客户的账号已经与用户的手机号码关联，因此，每一次异常交易，都会有短信通知客户，因此我们强烈建议用户用自己的手机号码注册分享哟订餐的账号</li>
	</ul>
</p>

</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='about/about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
<template source='about/about_footer' load="true"/>
<!-- footer end -->




</body></html>