<div class="col-sub">
	<div class="category">
		<ul class="level-one">
			<!--#foreach ($aboutMenu as $key => $eachMenu) {#-->

				<li class=" ">
					<p class="category-item first title-overflow  hasSub showSub">
						<span></span>						
						<a class="link" href="#{$key}" title="{$key}">{$key}</a>
					</p>

					<ul class="level-two ">
					<!--#foreach ($eachMenu as $leveltwo => $leveltwoMenu) {#-->
						<li class="">
							<p class="category-item second title-overflow {$leveltwoMenu == $selectedMenu?'focus':''}  ">
								<a class="link" href="{$menuLinks[$leveltwoMenu]}" title="{$leveltwoMenu}">{$leveltwoMenu}</a>
							</p>
						</li>
					<!--# } #-->			
					</ul>
			</li>

			<!--# } #-->
				
		</ul>
						
	</div>
</div>