<!DOCTYPE html>
<html>
<template source='EXT:4tschool.template.about.about_header' load="true"/>
<body>


<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">点餐哟校园订餐平台订单服务说明</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#提前订餐">一、提前订餐</a></li>
				  <li><a class="link" href="#送餐时间">二、送餐时间</a></li>
				  <li><a class="link" href="#投诉建议">三、投诉建议</a></li>
				  <li><a class="link" href="#除了餐品?">四、除了餐品?</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>
					分享哟订餐服务平台解决订餐环节以及管理环节的不确定性，商家在进行服务的过程中，制定了严格的时间限度，订餐的各个环节都严格掌控，从确定订单,商家下单,拿单，调度，送餐每个环节都让商家做了精心的时间控制与质量与服务控制。
				</strong>
			</p>
<h1 id="提前订餐">一、提前订餐</h1>
<p>

	分享哟订餐平台为了最大程度的服务与您，将流程进行了严格的管控与优化。所有的一切都是为了让您享受到好的美味，不会因为省事儿让质量打折扣; 然而分享哟平台也希望您理解到吃饭的时间集中性，在11：50- 12：50这段午餐时间里，有大量的同学在学校在您钟爱的商家里吃饭，在集中的时间内，由于商家人手与控制质量的问题，他们很难再集中的时间里提供到您相对平时清闲时更优质的服务。因此分享哟订餐平台强烈建议您错开订餐时间，例如您可以在11：00订餐，我们会在12：00准时或更早（如果您有特别的时间要求)送到您的住所。


<h1 id="送餐时间">送餐时间</h1>
<p>
	分享哟服务平台的送餐时间是经过严格管控的，为了保证送到您手上的时间，我们根据不同的餐品制定了不同的时间管控理念，整理的送餐时间，我们会控制在30分钟之内。对于一些特别的餐，如果有特别的时间要求，我们会主动和您联系然后告知给您。
</p>

<h1 id="投诉建议">三、投诉建议</h1>
<p>分享哟订餐平台服务团队非常重视传递到您这里的服务质量。然而我们深信我们的服务有很大的改善空间，每一次您的不满与建议，都是我们变得更好的动力与源泉。因此希望您能在百忙中给我们进行建议。
<br/>

在我们内部培训的过程中，有时候也会让我们服务团队的成员没有理解到服务的精粹，造成在服务的过程中造成误会与不解，在这种情况下，希望你能向我们投诉，我们不抛弃，不放弃;让每个人持续不断的改进，达到人生的目标，实现人生的价值。
<h2><a href="index.php?m=app&c=feedback&app=4tschool" title="请给我留言">请给我留言<a>  </h2>

</p>
<h1 id="除了餐品">四、除了餐品</h1>
<p>
	分享哟平台订餐深刻的了解老师和同学们的需求，上课的时候渴了，吃饭的时间饿了，晚自习后来点夜宵，聚会的时候来点零食，睡觉前来点水果，需要代购风扇等等这些，分享哟订餐服务团队都为您提供了方便的选择，我们不向您收取任何额外的费用，因此只有您的满意，才是服务团队存在的价值。您也可以利用我们的留言板来向我们提建议，说出您想吃的东西。
	<h2><a href="index.php?m=app&c=feedback&app=4tschool" title="说出您希望我们提供的服务">说出您希望我们提供的服务<a>  </h2>
</p>
</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='EXT:4tschool.template.about.about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
<template source='EXT:4tschool.template.about.about_footer' load="true"/>
<!-- footer end -->




</body></html>