<!DOCTYPE html>
<html>
<template source='about/about_header' load="true"/>
<body>

<!-- top-nav end -->
<div class="container grid-s165m0 layout">
	<!--正文区 begin-->
	<div class="col-main bg_line">
		<div class="main-wrap">
			<div>
				<h1 class="title">分享哟订餐平台服务说明</h1>
			</div>
			<!--评价效果展示区-->
			<div class="doc-detail-bd" id="bd">
				<div class="anchor">
				 <ul>
				  <li><a class="link" href="#为什么手机号注册">一、为什么手机号注册</a></li>
				  <li><a class="link" href="#怎么样预定美味">二、怎么样预定美味</a></li>
				  <li><a class="link" href="#查询以及催单">三、查询以及催单</a></li>
				  <li><a class="link" href="#如何取消订单">四、如何取消订单</a></li>
				 </ul>
				</div>
			<p>&nbsp;</p>
			<p>
				<strong>
					在分享哟订餐平台，您只需要几个简单的步骤就能订到符合您口味与心意的餐品，足不出户，手机轻松一点，餐品在指定时间内送到，让您轻轻松松享受到温馨的服务。
				</strong>
			</p>
<h1 id="为什么手机号注册">一、为什么手机号注册</h1>
<p>分享哟订餐平台为了保证最大程度的服务于您，我们选择了以手机号码为主的订餐方式，通过对手机号码的识别，我们的服务团队变得更懂您，更加珍惜为您服务的时间与质量，以此来让您享受到最好的服务。另外，移动互联网让大家更加快捷方便的浏览并购买钟爱的商品，而手机号码是移动手机的一部分，选择手机号码进行注册，您可以更加便捷的使用分享哟平台提供的服务。


<h1 id="怎么样预定美味">二、怎么样预定美味</h1>
<p>
	分享哟订餐平台和高校商家为同学和老师们提供了丰富的订餐选择，从日常吃的主食，到零食，饮料，分享哟平台的同学们和老师可以根据自己的喜好，选择自己喜欢的商品，并放入购物车。

	相信分享哟订餐的用户都有在京东，当当等买商品的经验，我的购物流程与之没有区别，大家可以根据画面上的引导一步步的完成购物
</p>

<h1 id="查询以及催单">三、查询以及催单</h1>
<p>分享哟订餐平台后台服务团队的工作人员时刻在监控着您的订餐的订单状态，在我们帮您把餐传达到商家的各个环节都严格的把控着时间，通过这些时间的严格掌控，我们会主动的进行订单的跟进，而不需要您担心订单是否在商家是否在做您的订单，送餐人是否送餐及时。
<br/>

通过分享哟订餐平台，进入我的订单，进入点击订单号进入订单详情，您可以方便的看到：
1. 分享哟平台是否接收到并进行指派
2. 是否已向商家下单
3. 是否已安排人员配送

</p>
<h1 id="如何取消订单">四、如何取消订单</h1>
<p>
	分享哟平台订餐具有很高的实时响应性，您的订单一确定下单，我们的分享哟服务团队订单调度人就会在后台看到这个订单，当看到这个订单后，我们会进行相关负责人的分配与跟进的工作。如果您因为失误点错了要下单，或者订单里的商品有误，请在我下的订单的详情页面点击取消订单
</p>

<h2>取消订单注意事项</h2>
<p>
	当分享哟后台服务团队分配了您的订单给了相应的跟进人员后，您的订单就不能取消了，在这种情况下，我们建议您联系我们的分享哟服务台，让后台工作人员给您做相应的操作来取消您的订单。
</p>

</div>
			<!-- FAQ -->
			
	<div class="content-ft">
	
		
	</div>
</div>
		<!--正文区 end-->
</div>
<!--左侧导航栏 begin-->
	
	<template source='about/about_menu' load="true"/>

<!--左侧导航栏 end-->
	</div>
<!--右侧三个按钮-->

<!-- footer begin -->
<template source='about/about_footer' load="true"/>
<!-- footer end -->




</body></html>