/*
jCart v1.3
http://conceptlogic.com/jcart/
*/

#jcart * {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
}

#jcart, #jcart input, #jcart-tooltip {
    font-size: 12px;
}

#jcart fieldset {
    border: 0;
}

#jcart-error {
    text-align: center;
    padding: 5px;
}

#jcart table {
    width: 100%;
    border: 0;
    background: #fff;
    border-collapse: collapse;
}

#jcart thead {
}

#jcart-title {
}

#jcart tbody {
}

#jcart tfoot {
}

#jcart tr {
}

#jcart th {
    background: none repeat scroll 0 0;
    /*#FFE4D8*/
}

#jcart th{
    vertical-align: middle;
    text-align: left;
    /*color: white;*/
    font-weight: lighter;
    border: solid 1px #ccc;
}

#jcart td {
    padding: 5px;
    border: 0;
    border: solid 1px #ccc;
    vertical-align: middle;
    text-align: left;
    font-weight: normal;
}

#jcart #jcart-empty {
    text-align: center;
}

.jcart-item-qty {
    width: 20%;
}

#jcart .jcart-item-name {
    width: 50%;
    font-weight: bold;
}

#jcart .jcart-item-price {
    width: 30%;
    font-weight: bold;
    text-align: left;
}

.jcart-item-price span {
    display: inline;
}

#jcart .jcart-title {
    
}

.jcart-title span {
    color: #F87D0B;
}

.jcart-title .none-border {
    border: none!important;
}

.jcart-title .none-left-border {
    border-left: none!important;
}

.jcart-title .none-right-border {
    border-right: none!important;
}

.jcart-shop-subtotal {
    float: right;
    margin-right: 20px!important;
}

#jcart a.jcart-remove {
    color: #F87D0B;
    font-size: 11px;
    font-weight: normal;
}

#jcart-integral {
    color: #F87D0B;
    display: block;
}

#jcart-subtotal {
    color: #F87D0B;
    display: block;
}

#jcart-dmoney{
    background-color:#C7303C;
    color:#FFFFFF; 
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 0 3px;
}

#jcart-subtotal strong {
}

#jcart-buttons input {
    padding: 2px;
    margin: 2px;
}

#jcart-checkout {
    float: right;
    padding: 2px;
}

#jcart-paypal-checkout {
    display: block;
    width: 14em;
    padding: 10px;
    margin: 20px auto;
}

#jcart-tooltip {
    display: none;
    position: absolute;
    padding: 3px 7px 3px 25px;
    background: url(../images/checkmark.png) 3px center no-repeat #fdfdfd;
    border: 1px solid #a6c9e2;
    z-index: 9999;
}