<div class="site-footer">
  <div class="row">
    <div class="twelvecol" id="footer">
      <div class="line new_box">
        <ul class="footer-menu">

        <li class="footer-special"><span class="footer-about">关于我们</span>
          <ul>
             <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about#关于分享哟">关于分享哟</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=hire#诚聘英才">诚聘英才</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=businessjoin#商家加盟">商家加盟</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=contactus#联系我们">联系方式</a></span></li>
           </ul>
        </li>


        <li class="footer-special"><span class="footer-about">吃饭与兼职</span>
          <ul>
             <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=whichorder#啥餐可点">啥餐可点</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=money#兼职可做">兼职可做</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=whattoexchange#免费餐品">免费餐品</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=group#美食群组">美食群组</a></span></li>
           </ul>
        </li>

         
        <li class="footer-special"><span class="footer-about">服务说明</span>
          <ul>
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=whycellphone#注册方法">注册方法</a></span></li>


            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=howtoorder#预定美味">预定美味</a></span></li>
            
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=checkorder#查询催单">查询催单</a></span></li>


            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=whatelse#除了餐品">除了餐品</a></span></li>
          </ul>
        </li>

        <li class="footer-special"><span class="footer-about">订餐送达</span>
          <ul>
            
            <li><span class="footer-arrow"><a target="_blank" href="index.php?m=app&app=4tschool&c=about&a=whyorderadvance#提前订餐">提前订餐</a></span></li>

            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=orderintime#送餐时间">
            送餐时间</a></span></li>

            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=whatelse#取消订单">取消订单</a></span></li>

            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=helpimprove#投诉建议">投诉建议</a>
            </span ></li>

          </ul>
        </li>

        <li class="footer-special"><span class="footer-about">点餐Social</span>
          <ul>
            <li><span class="footer-arrow"><a target="_blank"  href="http://www.baidu.com/s?fr=bks0000&cl=3&wd=%B5%E3%B2%CD%D3%B4&t=5&rsv_baike=2">百度点餐</a></span></li>
            <li><span class="footer-arrow"><a target="_blank"  href="http://weibo.com/u/3846665494">@点餐哟</a></span></li>
            <li><span class="footer-arrow"><a target="_blank"  href="http://www.fenxiangyo.com">分享科技</a></span></li>
            <li><span class="footer-arrow"><a target="_blank"  href="index.php?m=app&app=4tschool&c=about&a=law#法律声明">法律声明</a></span></li>
          </ul>
        </li>

        </ul>
      </div>
       <div class="copyright">
        <p> 地址：江西省南昌市师范大学国家大学科技园化学楼3楼</p>
        <p> Copyright © 2010-2013  <a href="http://www.fenxiangyo.com" target="_blank">享云信息技术有限公司</a> 版权所有</p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">赣ICP备12002031号-3</a>&nbsp;<a href="http://www.anquan.org/s/www.diancanyo.com" name="qhleOTAGSmDExz5SK2WQN2tFqzuJlgmiMpAETkMPZXWfr0Gd73" >安全联盟</a></p>
       </div>
    </div>
  </div>
</div>
<div id="oldie">
  <span class="kill-ie6">kill ie6</span>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您正在使用的IE6浏览器可能存在漏洞，超过95%的分享哟用户已经把浏览器升级到更高版本或者使用其他浏览器。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了您能正常访问分享网，请升级您的IE浏览器(<a href="http://www.microsoft.com/zh-cn/download/details.aspx?id=2">IE7</a>｜<a href="http://www.microsoft.com/zh-cn/download/details.aspx?id=43"> IE8</a>｜<a href="http://www.microsoft.com/zh-cn/download/details.aspx?id=13950">IE9</a>)，或者使用<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Google Chrome</a>｜<a href="http://www.firefox.com.cn/download/">Firefox</a>浏览器。 立刻升级吧！</p>
</div>

<!--# $hostname = $_SERVER['SERVER_NAME']; if($hostname == 'www.diancanyo.com') {#-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3bf15cf5566f3927e165b2d12ea5534e' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--# } #-->



