<!-- <div class="nav">
	<ul class="cc">
        	<li class="{$navType=='sm'?'current':''}"><a href="{@url:app/4tschool/manage/run}">系统管理</a></li>
        	<li class="{$navType=='t'?'current':''}"><a href="{@url:app/4tschool/tag/run}">标签管理</a></li>
        	<li class="{$navType=='sa'?'current':''}"><a href="{@url:app/4tschool/schoolarea/run}">学校区域管理</a></li>
        	<li class="{$navType=='m'?'current':''}"><a href="{@url:app/4tschool/merchandise/run?isall=all}">商品管理</a></li>
                <li class="{$navType=='p'?'current':''}"><a href="{@url:app/4tschool/promo/run}">商家活动管理</a></li>
                <li class="{$navType=='mni'?'current':''}"><a href="{@url:app/4tschool/merchandise/noitem}">商品缺货列表</a></li>
                <li class="{$navType=='sp'?'current':''}"><a href="{@url:app/4tschool/schoolpeople/run}">学校管理</a></li>
                <li class="{$navType=='st'?'current':''}"><a href="{@url:app/4tschool/systagtree/run}">分类结构管理</a></li>
                <li class="{$navType=='b'?'current':''}"><a href="{@url:app/4tschool/boutique/run}">精品推荐管理</a></li>
                <li class="{$navType=='a'?'current':''}"><a href="{@url:app/4tschool/announce/run}">公告管理</a></li>
                <li class="{$navType=='cateweekreport'?'current':''}"><a href="{@url:app/4tschool/cateweekreport/run}">美食周报</a></li>
	</ul>
</div> -->