<div class="promotion-banner" id="promotion_banner">
    <div class="geoplace-activities clearfix">
      <!--#foreach ($hotads as $key => $item) {#-->
        <a id="activity-hot_foods" href="{$item['link']}" target="_blank" rel="nofollow"
           class="gp-activity-block">
           <img title="热卖美食" src="{$item['image']}"></a>
       <!--#}#-->
       <!-- <a id="activity-hot_foods" class="gp-activity-block" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2727345503&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2727345503:53" alt="点餐哟客服" title="点餐哟客服"/></a> -->
    </div>
 </div>