<!DOCTYPE html>
<template source='EXT:4tshop.template.header' load="true" />
<template source='EXT:4tshop.template.shopadvantageheader' load="true" />
<style type="text/css">
#catab ul li{
	width:auto;
	float:left;
}

</style>
<div class="clear"></div>
<div class="wrapper line new_box new_bg control_top">
	<template source='left_bar' load="true" />
	<div style="float:right;width:780px;margin-top:9px;">
	<div class="clear"></div>
            <!--#if($shopComment){#-->
            <ul>
                <!--#foreach ($shopComment as $key => $item) {#-->
                <div class="step-tab step-content" onmouseover="this.style.background='#f4f4f4'" onmouseout="this.style.background='none'">
                    <span>速度评定：{$item['speed']}</span><br/><br/>
                    <span>速度评论：{$item['comment']}</span><br/><br/>
                    <span class="below">{$item['username']}</span>
                    <span class="below">{$item['createdate']}</span>
                </div>
                <!--#}#-->
            </ul>
            <!--#}else{#-->
            <span style="">暂无评论</span>
            <!--#}#-->
            <page tpl='TPL:common.page' load="true" page='$page' count='$count' per='$perPage' url='app/4tshop/shopadvantage/shopcomment' args='$args' />
        <div class="clear"></div>
    </div>
</div>
</div>
<div class="clear"></div>
<template source='EXT:4tschool.template.footer' />

<script type="text/javascript" src="{@G:url.extres}/4tschool/js/jquery-ui.js"></script>
<script>
    //菜品列表背景色设置
    $(".step-shop-menu").hover(function()
    {
        $(this).attr("style","background-color:#FFE4D8");
    },
    function()
    {
        $(this).attr("style","background-color:''");
    });

    $(".ctgmenu").click(function () {
        var tag = $(this);

        $(".ctgmenu").each(function () {
            $(this).attr('class', 'ctgmenu');
        });


        $(tag).attr('class', 'ctgmenu ctgactive');

        $(".li-first").each(function () {
            if ($(tag).attr('curindex') == $(this).attr('id').substring(4))
                $(this).css('display', 'block');
            else
                $(this).css('display', 'none');
        });
    });

    $(function(){
        $(".step-shop-menu").live("click",function(event){
            if(event.target.tagName.toLowerCase() != 'input' && event.target.tagName.toLowerCase() != 'a')
            $(this).find("[name='my-add-button']").trigger("click");
        });
    });
</script>
</body>