<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>
        <!--# if(!empty($SEOTitle)) { #-->
            {$SEOTitle}
        <!--# } else { #-->
            点餐哟网络订餐,点餐哟手机订餐,分享哟生活轨迹服务平台,大学生的手机订餐系统,点餐哟平台让大学生在教室订餐,宿舍订餐以及实验室订餐
        <!--# } #-->
    </title>

    <!--# if(!empty($SEOKeyword)) { #-->
        <meta name="keywords" content="{$SEOKeyword}">
    <!--# } else { #-->
        <meta name="keywords" content="网络订餐 点餐哟 手机点餐 生活轨迹点餐 生活超市 短程服务 生活我帮带服务 物理位置社交平台 周边线上线下o2o平台">
    <!--# } #-->

    <!--# if(!empty($SEODescription)) { #-->
        <meta name="description" content="{$SEODescription}">
    <!--# } else { #-->
        <meta name="description"
        content="点餐哟平台是基于分享哟平台的点餐平台, 点餐哟平台让周边的商家以及消费者能够有机的结合起来, 让最后一公里买东西变得更加便捷, 商家重视提供优质的产品, 平台保证优质的服务;同时点餐哟平台让物理之间的距离不再冰冷呼吁生硬，让每一个人都能提供服务，让服务与被服务的人在生活圈中联系起来, 组成现实中的物理社交圈">
    <!--# } #-->
        
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/reset.css">
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/common.css">
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/open-base.css">
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/docmtCenter.css">
    <link rel="stylesheet" href="{@G:url.extres}/4tschool/css/styles.css">
</head>

<!-- top-nav begin -->
<div class="top-nav" style="width:71.2%;border-bottom:none">
    <div class="option">
        <span style="float:left">
            <a href="index.php?m=app&app=4tschool">
                <img src="themes/extres/4tschool/images/logo.png" alt="diancanyo.com - 点餐哟"></a>
        </span>
         </a>
    </div>
    
</div>
