<html>
    <head>
        <template source='mobileheader' load="false" />
        <style type="text/css">    
        .append-border{
            border:1px solid #d6d6d6;
        }        
        </style>        
    </head>
    <body>
        <!--# if($is_weixin){ #-->
        <div data-role="page">
            <div data-role="header" data-position="fixed">
                <h1 style="display:none">选择区域</h1>
            </div>
            <div role="main" class="ui-content">
                <ul data-role="listview" data-theme="b">
                	<!--#foreach ($schoolList as $key => $val) {#-->
                    <li class="append-border">
                        <a href="{@url:app/4tmobile/mobileshop/run?schoolid=$val['schoolid']&openid=$openId}" data-ajax="false">{$val['name']}</a>
                    </li>
                	<!--# } #-->
                </ul>
           </div>
        </div>
        <!--# } else{#-->
        <h3>非法访问</h3>
        <!--# } #-->
    </body>
</html>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3bf15cf5566f3927e165b2d12ea5534e' type='text/javascript'%3E%3C/script%3E"));
</script>
