<link rel="stylesheet" type="text/css" href="{@G:url.extres}/4tschool/css/themes/default/jquery.mobile.4tui.css" >
<link rel="stylesheet" type="text/css" href="{@G:url.extres}/4tschool/css/themes/default/jqm-icon-pack-fa.css" >
<script src="{@G:url.extres}/4tschool/js/jquery-1.11.0.min.js"></script>
<script src="{@G:url.extres}/4tschool/js/jquery.mobile-1.4.0.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,  user-scalable=no" />