<!DOCTYPE html>
<html>
<head>
	<template source='mobileheader' load="false" />
	<title>开源平台与大学生创业</title>
</head>
<body>
	<!--# if($is_weixin){ #-->
	<div data-role="page">
		<div data-role="page" data-theme="f">
			<h1 style="display:none">成为点餐哟社区中的一员</h1>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="bullets" data-expanded-icon="bullets" data-theme="b">
			<h3>纯公益大学生创业平台</h3>
			<h4>条件与写作</h4>
			<ul>
				<li>
					点餐哟代码由开源社区维护, 大学生不需要付任何软件使用费
				</li>
				<li>
					服务器由享云赞助，社区也在寻找更多服务器提供商
				</li>
				<li>
					大学生如果创业失败，在所在区域的使用权必须无偿的转让给下一位同学，不能变相收取任何费用
				</li>
				<li>
					合理的商业模式是经营企业的保证，希望大家可以不断的交流
				</li>				

				<span>QQ: 81552433</span>
		</div>
	</div>
    <!--# } else{#-->
        <h3>非法访问</h3>
    <!--# } #-->	
</body>
</html>