<html>
    <head>
        <title>用户登录</title>
        <link rel="stylesheet" type="text/css" href="{@G:url.extres}/4tschool/css/themes/default/jquery.mobile-1.4.0.min.css">
        <script src="{@G:url.extres}/4tschool/js/jquery.js" type="text/javascript">
        </script>
        <script src="{@G:url.extres}/4tschool/js/jquery.mobile-1.4.0.min.js" type="text/javascript">
        </script>
        <script src="{@G:url.extres}/4tschool/js/validate.js" type="text/javascript">
        </script>
        <script type="text/javascript"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width,user-scalable=no" />
    </head>
    <body>
        <div data-role="page" style="background-color: #FFFFFF;">
            <div class="ui-header ui-header-fixed slidedown ui-bar-a" data-theme="a" data-position="fixed" data-role="header" role="banner">
                <!-- <a class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all" 
                   data-rel="back" href="../php/main.php" data-role="button" role="button">返回</a> -->
                <h1 class="ui-title">用户登录</h1>
                <a href="{@url:app/4tmobile/mobileregister/run}" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all">注册</a>
            </div>
            <div data-role="content" style="text-align: center;" >
                <img src="{@G:url.extres}/4tschool/css/themes/default/images/logo.jpg"/>
                <p style="text-align: left">欢迎使用点餐哟！
                    <!--# if($success == 1){ #-->
                    <span style="color:grey">{$loginstatus}</span>
                    <!--# } #-->
                </p>
                <form action="{@url:app/4tmobile/mobilelogin/run}" id="frmLogin" class="validate" method="post" data-ajax="false">
                    <input data-clear-btn="true" name="username" id="text-username" value="" placeholder="用户名/手机号" class="required" required="required" type="text">

                    <input data-clear-btn="true" name="password" class="required" id="text-password" value="" placeholder="输入密码" required="required" autocomplete="off" type="password">
                    
                    <!--# if($success != 1){ #-->
                    <div style="text-align:left">
                        <span style="color:red">{$loginstatus}</span>
                    </div>
                    <!--# } #-->
                    <br/>
                    <div>
                        <button class="btnLogin" name="submit" type="submit">登录</button>
                    </div>
                </form>
           </div>
        </div>
    </body>
</html>
