<div data-role="navbar">
	<ul>
		<li><a href="{@url:app/4tmobile/mobileorder/run?schoolid=$schoolId&openid=$openId&days=30}" data-icon="bars" data-theme="b" data-ajax="false">我的订单</a></li>
		<li><a href="{@url:app/4tmobile/mobilemymoney/run?schoolid=$schoolId&openid=$openId}" data-icon="archive" data-theme="d" data-ajax="false">零钱包</a></li>
		<li><a id="shoppingCart" href="{@url:app/4tmobile/mobileorderpreview/run?openid=$openId}" data-icon="shopping-cart" data-theme="f" data-ajax="false">购物车</a></li>
	</ul>
</div>