<html>
    <head>
        <title>用户登录</title>
        <link rel="stylesheet" type="text/css" href="../css/themes/default/jquery.mobile-1.4.0.min.css">
        <script src="../js/jquery.js"></script>
        
        <script src="../js/jquery.mobile-1.4.0.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=no" />
    </head>
    <body>
        <div data-role="page" style="background-color: #FFFFFF;">
            <div class="ui-header ui-header-fixed slidedown ui-bar-a" data-theme="a" data-position="fixed" data-role="header" role="banner">
                <a class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all" 
                   data-rel="back" href="../php/main.php" data-role="button" role="button">返回</a>
                <h1 class="ui-title">[商家]</h1>
            </div>
        </div> 
    </body>
    <template source='footer' load="true"/>
</html>
